/* Todas */

#formas_pagamento{
    color: red;
    font-weight: bold;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: white;
    width: 20%; 
}

/*Fim todas*/

/*Produtos*/
.velho{
    text-decoration:line-through;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.novo{
    color: red;
    margin-top: 0px;
    padding-top: 5px;
    
}
/*Fim produtos*/

/* Inicio COMPRAR */


.labe{
    
    font-weight: bolder;
    
}
.inp{
    margin: 20px 0px;
}


.altura{
    height: 400px;
}

#numqt{
    width: 80px;
}

#sucesso{
    background-color: rgb(50, 214, 85);
    height: 60px;
    width: 300px;
    border-radius: 15px;
    font-size: 17pt;
    border: 1px solid rgba(0, 0, 0, .3);

    visibility: hidden;
}



